{% extends 'main.html'%}

{% block content %}

{% load static %}
<link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/as/project_manager/ds-project-statuses.css' %}">

<div class="fc fc_column fc_standard" id="main">

    <div class="fc fc_row fc_standard" id="top-bar">

        <div class="fc fc_row" id="info-container">

            <div class="fc fc_row fc_center fc_standard" id="title-container">
                <p class="" id="title-version">
                    [113]
                </p>

                <p class="" id="title-text">
                    Project-name
                </p>
            </div>

            <div class="fc fc_column fc_standard" id="status-container">
                <p class="" id="status-update">
                    09.12.2023
                </p>

                <p class="" id="status-version">
                    Started
                </p>
            </div>

        </div>

        <div class="fc fc_row fc_standard" id="tb_c-buttons">
            <div class="tb_button" id="journal-container">
                <p>
                    Journal
                </p>
            </div>

            <div class="tb_button" id="proposal-container">
                <p>
                    Proposal
                </p>
            </div>
        </div>

    </div>

    <div class="fc fc_column fc_standard " id="version-bar">

        <div class="" id="version-label-container">
            <p>
                Version-label
            </p>
        </div>

        <div class="fc fc_row fc_standard " id="version-fileslist-container">

            <div class="bd_card ds_c-version_element" id="version-file-1">
                <p>
                    Version-file
                </p>
            </div>

            <div class="bd_card ds_c-version_element" id="version-file-2">
                <p>
                    Version-file
                </p>
            </div>

            <div class="bd_card ds_c-version_element" id="version-add-container">
                <p>
                    Version-add
                </p>
            </div>

        </div>

    </div>

    <div class="fc fc_column fc_standard " id="document-bar">

        <div class="" id="document-label-container">
            <p>
                Documents-label
            </p>
        </div>

        <div class="fc fc_row fc_standard " id="document-fileslist-container">

            <div class="bd_card ds_c-document_element" id="document-file-container">
                <p>
                    Document-file
                </p>
            </div>

            <div class="bd_card ds_c-document_element" id="document-file-container">
                <p>
                    Document-file
                </p>
            </div>

            <div class="bd_card ds_c-document_element" id="document-add-container">
                <p>
                    Document-add
                </p>
            </div>

        </div>
        
    </div>

    
</div>



{% endblock %}