<div class="outer-box">
    <div class="vertical-listbox">

        <div class="content-field">
            Picture
        </div>

        <div class="horizontal-listbox">
            <div class="content-field">
                Project-number
            </div>
            <div class="content-field">
                Project-status
            </div>
        </div>

        <div class="content-field">
            Project-title
        </div>

        <div class="horizontal-listbox">
            <div class="content-field">
                Project-startdate
            </div>
            <div class="content-field">
                Project-version
            </div>
        </div>

    </div>

    [Documents-button]  [Details-button] 
</div>