<link rel='stylesheet' type='text/css' media='screen' href='style/project.css'>
<link rel='stylesheet' type='text/css' media='screen' href='style/project-statuses.css'>


<div class="projectbox-main">

    <div class="bordered projectbox-header">
        <div class="projectbox-title">
            <p>Project-name</p>
        </div>
        <div class="projectbox-id">
            <p>113</p>
        </div>
    </div>

    <div class="bordered projectbox-imagecontainer">
        <img src="img/test.jpg" alt="NO IMAGE">
    </div>

    <div class="projectbox-statusinfo">      
        <div class="projectbox-status ps-paused">
            <p>Paused</p>
        </div>
        <div class="projectbox-version">
            <p>v4</p>
        </div>
    </div>


    <div class="projectbox-datecontainer">
        <table>
            <tr>
                <td>Last Update:</td>
                <td class="table-value">12.03.2023</td>
            </tr>
            <tr>
                <td>Started:</td>
                <td class="table-value">12.03.2023</td>
            </tr>
        </table>
    </div>    

    <div class="projectbox-buttoncontainer">
        <a href="old/document.html">[Details]</a>
        <a>[Documents]</a>
    </div>

</div>