<body>

<link rel='stylesheet' type='text/css' media='screen' href='project.css'>

<div class="projectbox-main">

    <div class="projectbox-header">

        <div class="projectbox-title">
            Touchscreen
        </div>

        <div class="projectbox-id">
            113
        </div>

    </div>


    <div class="projectbox-picturecontainer">
        Picture
    </div>


    <div class="projectbox-statusinfo">
        
        <div class="projectbox-">
            Project-status
        </div>

        <div class="projectbox-version">
            Current version
        </div>

    </div>

    
    <div class="projectbox-buttoncontainer">

        <div class="projectbox-">
            [Documents-button]
        </div>

        <div class="projectbox-">
            [Details-button]
        </div>

    </div>
    
    <div class="spacer">

    </div>

    <div class="projectbox-arschloch">
    
        <div class="projectbox-date">
            Project-startdate
        </div>
        
    </div>

</div>

</body>