/* 
gs = global standard

bd = border 

This file contains all standard borders for html styling
*/
:root {
    --border_color: grey
}

.bd {
    border: 1px solid var(--border_color);
}

.bd_card {
    border: 2px solid var(--border_color);
    border-bottom: 5px solid var(--border_color);
    border-radius: 10px;
    transition-duration: 0.25s;
}

.bd_card:hover {
    box-shadow: 0 0 30px 1px rgb(0 0 0 / 15%);
    transition-duration: 0.25s;
}

.bd_box {
    border: 3px solid var(--border_color);
}

.bd_status {
    padding: 5px;
    border-radius: 15px;
}