/* 
ds = document-specific

c = container 
tb = top bar

All special stylings for elements from a certain document go here
*/


#info-container{
    width: 500px;
    min-height: 65px;
}

#status-container{
    justify-content: center;
    margin-left: auto;
}
#status-container p{
    text-align: center;
    margin: 0px;
}

.tb_button{
    height: 100%;
    width: 70px;
}

.ds_c-version_element {
    width: 200px;
    height: 200px;
}


.ds_c-document_element{
    width: 200px;
    height: 250px;
}

